:root {
    --prim: #3498db;
    --seco: #1480c9;
    --color-2: #fefefe;
    --color-3: #222222;
    --color-4: #000000;
    --color-5: #fefefe25;
    --color-6: #3d3d3d;
}


/****************************/
/*       backgrounds        */
/****************************/


.bg-prim {
    background: var(--prim) !important;
}

.bg-seco {
    background: var(--seco) !important;
}


/****************************/
/*          color           */
/****************************/


.color-prim {
    color: var(--prim) !important;
}

.color-seco {
    color: var(--seco) !important;
}


/****************************/
/*          border          */
/****************************/


.border-prim{
    border-color: var(--prim);
}

.border-seco{
    border-color: var(--seco);
}